<!doctype html>
<html lang="en">  
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/819850f21a.js" crossorigin="anonymous"></script>
    <title>Index</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="navcon">
            <div class="left-container">
                <a class="navbar-brand" href="#">HIS Alumni</a>
        </div>
        <div class="right-container">
            <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="About.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
    
    <!--Introduction-->
    <section>
        <div class="row">
            <div class="column1">
                <h2 style="text-align: left;">Introducing the HIS Alumni</h2>
                <h1 style="text-align: left;">Mentorship</h1>
                <p style="text-align: left;">program for all the low income students who want to apply for colleges abroad</p>
                <button type="button" class="btn btn-warning btn-lg">Get Started</button>
                <button type="button" class="btn btn-outline-dark btn-lg" style="margin-left: 10px;">Learn more</button>
            </div>
                
            <div class="column2">
                <h2 style="text-align: center;">Image</h2>
                </div>
            </div>
        </div>
    </section>
    <!--Applying for College can be...-->
    <section>
        <div class="row">
            <div class="column1">
                <h2>Image</h2>
            </div>
                
            <div class="column2">
                <h2 style="text-align: left;">Applying for college can be a daunting process -:</h2>
                <p style="text-align: left;">so we've assembled a league of extraordinary mentores from all corners  of the world to help you</p>
                <p style="text-align: left;">we've also been hard at work strategizing on how to make college applications more accessible to every african youth. The results...</p>
                </div>
            </div>
        </div>
    </section>

    <!--Meet Dave-->
    <section>
        <div class="row">
            <div class="column1">
                <h1 style="text-align: left;">Meet Dave</h1>
                <p style="text-align: left;">Dave is your whatsapp virtual mentor, to help you craft a beautiful application for free. It features hundreds of the resources for applying to different universities across the globe.</p>
                <button type="button" class="btn btn-warning btn-lg">Get Started</button>
                <button type="button" class="btn btn-outline-dark btn-lg" style="margin-left: 10px;">Learn more</button>
            </div>
                
            <div class="column2">
                <img src="item.png" width="260" height="500" style="margin-left: 100px;">

                </div>
            </div>
        </div>
    </section>

    <!--Other Resources (youtube link)-->
    <section>
        <div class="row">
            <div class="column1">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/SXCJrvN8gVo?si=AQgqTVNRKjaHSh8M&amp;controls=0&amp;start=10" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

            <div class="column2">
                <h2 style="text-align: left;">Other Resources</h2>
                <p style="text-align: left;">Watch our youtube channel for more tips and tricks for crafting better essays for your applications, here you will find video of mentors sharing their experience.</p>
                <button type="button" class="btn btn-warning btn-lg">Youtube</button>
                <button type="button" class="btn btn-outline-dark btn-lg" style="margin-left: 10px;">Learn more</button>
            </div>
        </div>
    </section>

    <!--Blog-->
    <section>
        <div class="row">
            <div class="column1">
                <h1 style="text-align: left;">Our Blog</h1>
                <p style="text-align: left;">You can also stay up to date with our regularly updated blog, sharing tips & tricks for a better essays, latest scholarships availble and more</p>
                <button type="button" class="btn btn-warning btn-lg">Get Started</button>
                <button type="button" class="btn btn-outline-dark btn-lg" style="margin-left: 10px;">Learn more</button>
            </div>
                
            <div class="column2">
                <img src="item.png" width="280" height="500">
                </div>
            </div>
        </div>
    </section>

    <!--FAQs-->
    <section>
        <div class="row">
            <div class="container">
                <h1 style="text-align: center;">FAQs</h1>
                <p style="text-align: center;">Here are some of the frequently asked questions by other students</p>

                <!--Accordian-->
                <button class="accordion">Free Here?</button>
                    <div class="panel">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    
                    <button class="accordion">Who is eligible for the program</button>
                    <div class="panel">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    
                    <button class="accordion">How to get the most out of this program?</button>
                    <div class="panel">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <button class="accordion">How can join the program? </button>
                    <div class="panel">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                 <!--Accordian-->
                    

                <button type="button" class="btn btn-warning btn-lg">Get Started</button>
                <button type="button" class="btn btn-outline-dark btn-lg" style="margin-left: 10px">Learn more</button>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h3 style="color: white;">HIS Alumni</h3>
                </div>

                <div class="footer-col">
                    <h4>Information</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Mentors</a></li>
                        <li><a href="#">Dave</a></li>
                    </ul>
                </div>
                
                <div class="footer-col">
                    <h4>Community</h4>
                    <ul>
                        <li><a href="#">Free Resources</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>

                <!--Social Links-->
                <div class="footer-col">
                    <h4>Socials</h4>
                    <div class="social-links">
                        <ul>
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a>Facebook</li>
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a>Twitter</li>
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a>Instagram</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <h5>
                    ©2023 Como Designs
                </h5>
            </div>
        </div>
    </footer>
 
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;
        
        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
              panel.style.maxHeight = null;
            } else {
              panel.style.maxHeight = panel.scrollHeight + "px";
            } 
          });
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
